<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Debug Rails!</h1>
  <p class="text-lg leading-snug">Use this starting point as a way to quickly set up a new project by generating files, installing gems, and more.</p>
<ul class="pt-6">
  <li><%= {code: "%= debug(params) %"}.inspect %></li>
  <li><%= {code: "%= simple_format  @post.to_yaml %"}.inspect %></li>
  <li>inspect</li>
  <li>(%= console %)</li>
  <li>pry Gem</li>
</ul>
</div>
